<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Guest Book</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"> 
    <!-- Bootstrap theme -->
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet">

      <link href="{{ url_for('static', filename='js/script.js') }}" rel="javascript">

  </head>

  <body>

    <div class="container theme-showcase" role="main">

      <div class="jumbotron">
        <h1>Guest Book</h1>
        <a type="button" class="btn btn-link" href="{{ url_for('sign') }}">Sign the Guest Book</a><br>
      </div>
         {% for i in dicto  %}
                <form class="form-signin" method="post" action="/delete">
                  <div class="page-header">
                      <input name="kkk1" hidden value=" {{i }}">
                    <h1 name="name">{{ i }}</h1>
                  </div>

                  <div class="page-header">
                      <input name="kkk2" hidden value="{{ dicto[i] }}">
                    <h1 name="comment">{{ dicto[i] }}</h1>
                  </div>
                        <button id="button1" class="btn btn-link"> Delete this data </button>
                </form>
        {%  endfor %}

    </div>

  </body>
</html>
